.container {
  max-width: 900px !important;
}

.main-class {
  background-color: rgb(26, 173, 124);
  position: relative;
}

.banner-class img{
   position: absolute;
   right: 0;
   bottom: 0;
   width: 30%;
}

.grid{
  text-align: center;
    padding-top: 50px;
    margin-bottom: 75px;
}

.grid a{
  margin: 10px 20px;
  text-decoration: none;
  color: #000;
}

.logo img{
  margin-left: auto;
  display: block;
  width: 15%;
}

.Header_headerlogobackbtn__Ttgsd{
  padding-top: 13px;
  padding-bottom: 0px;
}
